[Unit]
Description=gewaechshaus.service
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /etc/gewaechshaus/run.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target