[Unit]
Description=gewaechshaus.service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/gewaechshaus/run.py
StandardInput=tty-force
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target