.button_box {
	position: absolute;
	left: 0px;
	top: 0;
	height: 440px;
	display: flex;
	width: 200px;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.button {
	width: 140px;
	height: 40px;
	background-color: white;
	border: 2px solid #364366;
	border-radius: 5px;
	outline: none;
	color: #364366;
	font-size: 12px;
	font-family: Schrift_Bold;
}

.aktor_button {
	width: 170px;
	height: 30px;
	background-color: white;
	border: 1px solid #364366;
	outline: none;
	color: #364366;
	font-size: 10px;
	font-family: Schrift_Bold;
}

.hmi_box {
	position: absolute;
	right: 80px;
	top: 0;
	height: 440px;
	width: 520px;
}

.hmi {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	height: 353px;
	width: 480px;
	border: 2px solid #364366;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.aktorsteuerung {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.block_overflow {
	overflow: hidden;
}

.hmi::-webkit-scrollbar {
	width: 5px;
}

.hmi::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #364366;
}

.hmi a {
	color: #364366;
	font-size: 11px;
	font-family: Schrift_Bold;
	padding: 5px;
	display: inline-block;
	word-break: break-word;
}

.hmi_titel {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 23px;
	width: 480px;
	height: 35px;
	font-size: 15px;
	font-family: Schrift_Bold;
	color: white;
	background-color: #364366;
	border: 2px solid #364366;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hmi_close {
	width: 15px;
	position: absolute;
	right: 10px;
}

.informationen_box {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 720px;
	display: flex;
	align-items: center;
	font-size: 11px;
	font-family: Schrift_Bold;
	color: #364366;
}

.ip_adresse_box {
	position: fixed;
	left: 20%;
}

.zeit_box {
	position: fixed;
	left: 55%;
}

.betriebsmeldungen {
	display: initial;
}

.manuelle_aktorsteuerung {
	display: none;
}

.systemuebersicht {
	display: none;
}

.systemstatus {
	height: 50%;
	width: 100%;
	overflow: hidden;
}
