.mitte {
	background-color: white;
	height: 100%;
	position: fixed;
	left: 200px;
	right: 80px;
}

#select-dropdown {
	position: absolute;
	color: white;
	width: 250px;
	top: 35px;
	left: 50%;
	transform: translateX(-50%);
	font-family: Schrift_Bold;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	z-index: 999;
}

.select {
	background-color: #364366;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 45px;
	height: 45px;
	transition: top 0.2s, -webkit-transform 0.2s, color 0.2s,
		background-color 0.2s;
	width: 230px;
	margin: auto;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 50%;
	margin-left: -115px;
	border-radius: 5px;
}

.select:last-child {
	border-bottom: none;
}

.open .option:hover {
	background-color: #364366;
	color: #fff;
}

.endzeit {
	position: absolute;
	bottom: 95px;
	left: 50%;
	transform: translateX(-50%);
	width: 380px;
}

.endzeit_text {
	font-size: 15px;
	font-family: Schrift_Bold;
	color: #364366;
}
.datumwahl {
	position: relative;
	left: 10px;
	text-align: center;
	border: 2px solid #364366;
	border-radius: 5px;
	height: 35px;
	font-size: 15px;
	font-family: Schrift_Bold;
	color: #364366;
	width: 135px;
}

.datumwahl[type="date"]::-webkit-calendar-picker-indicator {
	color: #364366;
	opacity: 1 !important;
}

.datumwahl[type="date"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

.datumwahl[type="date"]::before {
	color: #364366;
	content: attr(placeholder);
}
.datumwahl[type="date"] {
	color: #ffffff;
}
.datumwahl[type="date"]:focus,
.datumwahl[type="date"]:valid {
	color: #364366;
}
.datumwahl[type="date"]:focus::before,
.datumwahl[type="date"]:valid::before {
	content: "" !important;
}

.zeitwahl {
	position: absolute;
	right: 0;
	text-align: center;
	border: 2px solid #364366;
	border-radius: 5px;
	height: 35px;
	font-size: 15px;
	font-family: Schrift_Bold;
	color: #364366;
	width: 95px;
}

.zeitwahl[type="time"]::-webkit-inner-spin-button,
.zeitwahl[type="time"]::-webkit-outer-spin-button {
	color: #364366;
	opacity: 1 !important;
	margin-top: 6px;
	height: 20px;
}

.startbutton {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 23px;
	width: 100px;
	height: 40px;
	background-color: white;
	border: 2px solid #05c11e;
	border-radius: 5px;
	outline: none;
	color: #05c11e;
	font-size: 15px;
	font-family: Schrift_Bold;
}

.slot_titel {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 115px;
	width: 380px;
	height: 35px;
	font-size: 15px;
	font-family: Schrift_Bold;
	color: white;
	background-color: #364366;
	border: 2px solid #364366;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slot_parameter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-90px);
	width: 380px;
	font-size: 15px;
	font-family: Schrift_Bold;
	color: #364366;
	border: 2px solid #364366;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.table_parameter td,
.table_parameter th {
	height: 35px;
}

.parameter_text {
	width: 300px;
	padding-left: 20px;
}

.parameter_wert {
	width: 90px;
	text-align: right;
	padding-right: 20px;
}

.table_parameter th {
	text-align: center;
	background-color: #364366;
	color: white;
}

#error_div {
	display: none;
}

.mode_selector {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
}

.meter {
	height: 25px;
	position: relative;
	border: 2px solid #364366;
	padding: 0px;
	transition: 0.5s;
}

.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #364366;
	transition: 1s;
	animation-timing-function: ease-in-out;
}

.fortschritt_rahmen {
	position: absolute;
	bottom: 30px;
	left: 0;
	height: 100px;
	width: 100%;
	transition: 0.5s;
}

.fortschritt_balken {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.prozent_fortschritt {
	width: 0%;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text_fertig {
	text-align: center;
	position: relative;
	display: none;
	font-family: Schrift_Bold;
	top: 2px;
	color: white;
}

.prozent_jetzt {
	display: flex;
	padding-right: 5px;
	justify-content: flex-end;
	color: white;
	font-family: Schrift_Bold;
	font-size: 13px;
	background-color: transparent;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.countdown {
	position: absolute;
	bottom: 40px;
	color: #364366;
	font-family: Schrift_Bold;
	left: 0px;
	font-size: 14px;
}

.parameter_datetime {
	position: absolute;
	top: 40px;
	left: 0px;
}

.parameter_programm_ende {
	position: absolute;
	top: 40px;
	right: 0px;
}

.datumzeit_anzeige {
	color: #364366;
	font-family: Schrift_Bold;
	font-size: 14px;
}

.button_abbrechen {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 23px;
	width: 120px;
	height: 40px;
	background-color: white;
	border: 2px solid red;
	border-radius: 5px;
	outline: none;
	color: red;
	font-size: 15px;
	font-family: Schrift_Bold;
	z-index: 999;
}

.parameter_betriebswahl {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30px;
	max-width: 500px;
	height: 40px;
	font-size: 20px;
	font-family: Schrift_Bold;
	color: #364366;
}

.parameter_betriebswahl td {
	border: 1px solid white;
	text-align: center;
}

.parameter_left {
	text-align: left !important;
}
