@font-face {
	font-family: "Schrift_Bold";
	src: url("/font/EncodeSansExpanded-Bold.ttf");
}
body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #364366;
}
.menu_rahmen {
	position: fixed;
	height: 100%;
	width: 80px;
	right: 0;
	top: 0;
	background-color: #364366;
	display: flex;
	justify-content: center;
}
.icon {
	position: absolute;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top {
	top: 0px;
}
.middle {
	top: 80px;
}
.bottom {
	top: 160px;
}
.menubild {
	width: 30px;
	height: 30px;
	color: white;
}
.aktiv {
	background-color: #4660a7;
}
.shutdown {
	position: fixed;
	bottom: 0px;
}

.menu_bar {
	position: fixed;
	height: 100%;
	width: 200px;
	left: 0;
	top: 0;
	background-color: #364366;
}
.menu_titel {
	color: white;
	font-size: 25px;
	display: flex;
	justify-content: center;
	font-family: Schrift_Bold;
}
.sensorwert {
	position: absolute;
	height: 50px;
	width: 150px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
}
.sensor_zahl {
	color: white;
	font-family: Schrift_Bold;
	font-size: 18px;
	position: absolute;
	left: 45px;
	transform: translateY(-10px);
}
.sensor_beschreibung {
	color: white;
	font-family: Schrift_Bold;
	font-size: 12px;
	position: absolute;
	left: 45px;
	transform: translateY(10px);
}
.sensorwert_1 {
	top: 80px;
}
.sensorwert_2 {
	top: 150px;
}
.sensorwert_3 {
	top: 220px;
}
.sensorwert_4 {
	top: 290px;
}
.sensor_icon {
	height: 30px;
}
.mitte {
	background-color: white;
	height: 100%;
	position: fixed;
	left: 200px;
	right: 80px;
}
#select-dropdown {
	color: white;
	width: 250px;
	font-family: Schrift_Bold;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.select {
	background-color: #364366;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	height: 40px;
	transition: top 0.2s, -webkit-transform 0.2s, color 0.2s,
		background-color 0.2s;
	width: 230px;
	margin: auto;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

	position: absolute;
	left: 50%;
	margin-left: -115px;
}
.select:last-child {
	border-bottom: none;
}
.open .option:hover {
	background-color: #4660a7;
	color: #fff;
}
.default {
	transform: perspective(600px) rotateX(0deg);
	z-index: 1000;
}
.default:active {
	transform: perspective(600px) rotateX(45deg);
	perspective: 600px;
}

.statistik_iframe {
	position: fixed;
	left: 0;
	top: 0;
	right: 80px;
	height: 100%;
	border: 0;
}

#error_div {
	display: none;
}

#success_div {
	display: none;
}

.mode_selector {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
}

.meter {
	height: 20px;
	position: relative;
	border: 1px solid #364366;
	padding: 5px;
	transition: 0.4s;
}

.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: linear-gradient(90deg, #ccfd47, #24fe41);
	background-size: 400% 400%;
	animation: gradientBG 5s ease infinite;
	transition: 0.4s;
}

.fortschritt_rahmen {
	position: absolute;
	bottom: 100px;
	left: 0;
	height: 100px;
	width: 100%;
	transition: 0.4s;
}

.fortschritt_balken {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
}

.prozent_fortschritt {
	width: 0%;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text_fertig {
	text-align: center;
	position: relative;
	display: none;
	color: #364366;
	font-family: Schrift_Bold;
}

.prozent_jetzt {
	display: flex;
	padding-right: 5px;
	justify-content: flex-end;
	color: #364366;
	font-family: Schrift_Bold;
	font-size: 13px;
	background-color: transparent;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.countdown {
	position: absolute;
	bottom: 35px;
	color: #364366;
	font-family: Schrift_Bold;
	left: 0px;
	font-size: 13px;
}
